@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Sono', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* RENTAL HISTORY CSS */
.leaflet-container {
  margin: 20px 60px 20px 60px;
}

/* //////OWNER HISTORY CSS////// */

/* Disables unwanted calendar features */
.css-hlj6pa-MuiDialogActions-root, .css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton,
.css-1hbyad5-MuiTypography-root, .css-sgf601-MuiTypography-root {
  display: none !important
}

.css-58prr7-MuiTypography-root-MuiDatePickerToolbar-title {
  width: 25rem;
  border-radius: 10px;
  padding: .5rem;
  background-color: #1b2139;
  color: white;
}