html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* //////OWNER HISTORY CSS////// */

/* +++++CALENDAR STYLING+++++++ */

/* Disables unwanted calendar features */
.css-hlj6pa-MuiDialogActions-root, .css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton,
.css-1hbyad5-MuiTypography-root {
  display: none !important
}

/* Center Calendar Date */
.css-jhsfre-MuiGrid-root-MuiPickersToolbar-content {
  justify-content: center !important;
  color: white;
  background-color: #2196f3;
  /* padding: 1rem; */
}

/* adjust padding and alignment of calendar date */
.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  padding: 0px;
  height: 80px;
}

/* Calendar size and shadow */
.css-u0soqy-MuiPickerStaticWrapper-root {
  margin: 20px 0px 20px 60px;
  height: 425px;
  width: 410px;
  box-shadow: 3px 2px 10px 5px #888888 !important;
}

/* +++++++ HISTORY STYLING+++++++ */

/* history breakdown styling */
.css-1e2bxag-MuiDataGrid-root {
  margin: 0px 60px 10px 60px;
  box-shadow: 3px 2px 10px 5px #888888 !important;
}

/* set color of top row */
.css-gl260s-MuiDataGrid-columnHeadersInner {
  background-color: #2196f3;
}

/* adjust color of table row names */
.MuiDataGrid-columnHeaderTitleContainerContent {
  color: white;
}

/* display calendar and list in a row */
.calendar-list-view{
  display: flex;
  flex-direction: row;
}

/* adjust styling of rental list box */
.css-399ykn {
  margin: 20px 0px 20px 60px;
  max-width: 425px;
  height: 425px;
  width: 210px;
  box-shadow: 3px 2px 10px 5px #888888 !important;
}

.css-1a40jv2-MuiTypography-root {
  margin: 0;
  color: white;
  background-color: #2196f3;;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  text-align: center;
  width: 425px;
  height: 82px;
}

/* rounds calendar and rental history components */
.css-399ykn, .owner-rental-list, .css-1a40jv2-MuiTypography-root,
.css-u0soqy-MuiPickerStaticWrapper-root, .css-xelq0e-MuiPickerStaticWrapper-content {
  border-radius: 10px;
}

/* rounds history table */
.owner-history-table, .css-1e2bxag-MuiDataGrid-root, .css-f3jnds-MuiDataGrid-columnHeaders {
  border-radius: 10px;
}
