@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sono:wght@200;300;400;500;600;700;800&display=swap');

/* //////OWNER HISTORY CSS////// */

/* +++++CALENDAR STYLING+++++++ */

/* Disables unwanted calendar features */
.css-hlj6pa-MuiDialogActions-root, .css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton,
.css-1hbyad5-MuiTypography-root {
  display: none !important
}

/* Center Calendar Date */
.css-jhsfre-MuiGrid-root-MuiPickersToolbar-content {
  justify-content: center !important;
  color: white;
  background-color: #2196f3;
  /* padding: 1rem; */
}

/* adjust padding and alignment of calendar date */
.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  padding: 0px;
  height: 80px;
}

/* Calendar size and shadow */
.css-u0soqy-MuiPickerStaticWrapper-root {
  margin: 20px 0px 20px 60px;
  height: 425px;
  width: 410px;
  box-shadow: 3px 2px 10px 5px #888888 !important;
}

/* display calendar and rental list in a row */
.calendar_list_view{
  display: flex;
  flex-direction: row;
}

/* +++++++ HISTORY STYLING+++++++ */

/* history breakdown styling */
.css-1e2bxag-MuiDataGrid-root {
  margin: 0px 60px 10px 60px;
  box-shadow: 3px 2px 10px 5px #888888 !important;
}

/* set color of top row */
.css-gl260s-MuiDataGrid-columnHeadersInner {
  background-color: #1b2139;
}

/* adjust color of table row names */
.MuiDataGrid-columnHeaderTitleContainerContent {
  color: white;
  background-color: #1b2139;
}

.css-1a40jv2-MuiTypography-root {
  margin: 0;
  color: white;
  background-color: #2196f3;;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  text-align: center;
  width: 425px;
  height: 82px;
}

/* rounds rental history and calendar components */
.css-399ykn, .owner-rental-list, .css-1a40jv2-MuiTypography-root,
.css-u0soqy-MuiPickerStaticWrapper-root, .css-xelq0e-MuiPickerStaticWrapper-content {
  border-radius: 10px;
}

/* rounds history table */
.owner-history-table, .css-1e2bxag-MuiDataGrid-root, .css-f3jnds-MuiDataGrid-columnHeaders {
  border-radius: 10px;
}

/* //////RENTAL LIST COMPONENT////// */

.css-1p823my-MuiListItem-root {
  width: 400px;
}

/* adjust styling of rental list box */
.css-399ykn {
  margin: 20px 0px 20px 60px;
  max-width: 425px;
  height: 425px;
  width: 210px;
  box-shadow: 3px 2px 10px 5px #888888 !important;
}

/* adjusting profile picture size */
.css-tzssek-MuiSvgIcon-root {
  height: 50px;
  width: 50px;
}

.monthly-breakdown-container {
  margin: 20px 0px 20px 60px;
  max-width: 425px;
  height: 425px;
  width: 300px;
  /* box-shadow: 3px 2px 10px 5px #888888 !important; */
}

.mb-annual-revenue-container {
  margin: 20px 0px 20px 20px;
  max-width: 180px;
  height: 180px;
  width: 300px;
  box-shadow: 3px 2px 10px 5px #888888 !important;
  border-radius: 10px;
}

.mb-occupancy-percentage-container {
  margin: 20px 20px 20px 20px;
  max-width: 180px;
  height: 180px;
  width: 300px;
  box-shadow: 3px 2px 10px 5px #888888 !important;
  border-radius: 10px;
}

.mb-ar-title, .mb-op-title {
  margin: 0;
  color: white;
  background-color: #2196f3;;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  text-align: center;
  width: 100%;
  height: 45px;
  border-radius: 10px;
}

.mb-ar-data, .mb-op-data {
  margin: 32.5px 12.5px 32.5px 12.5px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.235;
  color: green
}

.search-results::-webkit-scrollbar {
  display: none;
}
