/*NEW RESERVATION STYLES*/
.newRes {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
}

.timer {
  text-align: right;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 5%;
}

.rightHalf, .leftHalf {
  width: 50%;
}

.checkout {
  font-size: 64px;
  text-align: center;
  margin-top: 0;
}

.back {
 vertical-align: middle;
 margin-bottom: 0;
}

.billing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: auto;
}

.price {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 45%;
  margin: auto;
}

.billingRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.billingCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col50 {
  width: 45%;
  margin-left: 5%;
  margin-right: 5%;
}

.col33 {
  width: 30%;
  margin-left: 3%;
  margin-right: 3%;
}

.leftCol {
  width: 30%;
  margin-left: 5%;
}

.rightCol {
  width: 30%;
  margin-right: 5%;
}

.fullCol {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.parkDetails {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
}

.rightPrice {
  text-align: right;
}

.details {
  display: flex;
  flex-direction: row;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.horLine {
  width: 50%;
  margin-left: 50%;
}

.label {
  vertical-align: middle;
}

.noIcons {
  margin-bottom: 2px;
}

.bottom {
  margin-bottom: 5%;
}

.parkIcons {
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin-left: 5%;
  margin-top:10%;
}

.cancellation {
  width: 50%;
  margin: auto;
  text-align: left;
}

.iconD {
  margin-left: 3%;
  width: 30%;
  text-align: center;
}